body {
    background-color: rgb(196, 215, 240);
}

.answerButtons{
    float: left;
    width: 200px;
    height: 150px;
    margin-left: 25%;
    font-size: 48px;
    background-color: rgb(121, 179, 226);
    border: 1px solid black;
    border-radius: 8px;
}

.question {
    text-align: center;
    background-color: lightblue;
    font-size: 48px;
    border: 8px solid rgb(121, 179, 226);
}

.points{
    font-size: 24px;
    text-align: right;
    color: purple;
}

.getQuestion{
    margin-left: 47.5%;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
}


/*Progress Bars*/
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.math0 {width: 0%; background-color: #4CAF50;}

.math20 {width: 20%; background-color: #4CAF50;}

.math40 {width: 40%; background-color: #4CAF50;}

.math60 {width: 60%; background-color: #4CAF50;}

.math80 {width: 80%; background-color: #4CAF50;}